.body {
  background-image: url('/assets/images/w03144-small.jpg');
  background-size: cover;
  background-position: center;
  margin: 0;
  height: 100vh;
  width: 100vw;
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  color: white;
  text-align: center;
  font-size: 3rem;
  padding-top: 3rem;
}

.quest-container {
  /*background-color: lightblue;*/
  justify-self: center;
  /*border: 2px solid dodgerblue;*/
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 80vw;
  margin-top: 5rem;
}

.problem-card {
  background-color: #4A4A4A;
  margin: 1rem;
  border-radius: 1rem;
  padding: 1rem;
}
.problem-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  background-color: #5C5C5C;
  transition: .4s;
}

.card-header > h2 {
  word-spacing: 9999px;  /* forces words apart */

}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card-header span {
  font-size: 2rem;
}
.correct {
  color: deepskyblue;
}
.missing {
  color: darkgrey;
}

.problem-card h2 {
  font-size: 1.8rem;
  color: white;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-right: 2rem;
}
.problem-card p {
  color: lightgray;
  font-style: italic;
}


.mission-container {
  margin-top: 1rem;
  display: grid;
  gap: 1rem;
}

.mission-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: powderblue;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
}
.mission-card:hover {
  background-color: darkblue;
  transition: .4s;
  color: white;
}

.mission-card h3 {
  user-select: none;
}
