body {
  margin: 0;
  padding: 0;
}

.body {
  background-image: url('/assets/images/w03144-small.jpg');
  background-size: cover;
  background-position: center;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  background-color: #22a3c0;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s;
}

button:hover {
  background-color: #3d6cbe;
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #22a3c0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  display: inline-block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
